extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="nosotros", class="img-fluid")
            .col-md-7 
                h1 #{pagina}
                blockquote Desde que se ha conformado, AGENCIA DE VIAJES, nuestra empresa ha asumido el compromiso de ofrecer a nuestro clientes, servicios confiables y de alta calidad, garantizando una atención personalizada, profesional y eficiente, orientada a la máxima satisfacción de los mismos.

                p.parrafo Por estas razones nuestro principal objetivo es la CALIDAD, PRECISIÓN y EFICIENCIA de los servicios prestados, con la finalidad de cumplir con las expectativas de aquellos que CONFIAN en nosotros. Para lo cual tenemos todo totalmente planeado, contamos con un equipo de profesionales de comprobada idoneidad y experiencia, trabajamos con seleccionados proveedores, quienes nos respaldan para lograr la mayor SEGURIDAD en las acciones realizadas, hemos desarrollado fuertes vínculos con los mas destacados prestadores de servicios del mercado, con el fin del lograr excelentes tarifas y calidad de servicio.

                p.parrafo Así mismo optimizamos el empleo de la tecnología a favor de nuestra empresa, contamos con los más avanzados sistemas tecnológicos para la gestión de servicios de viaje, con una red interna absolutamente informatizada, para la gestión de la empresa, e-mail, y permanente atención OnLine, lo que favorece una muy ágil comercialización. Empresas, ejecutivos, viajeros por placer y extranjeros encuentran en AGENCIA DE VIAJES la mejor respuesta a sus necesidades.

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad",class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p  Con más de 10 años en el mercado, gestionamos que funciona de forma integrada todo los elementos que intervienen en el viaje y el proceso de prestación del servicio para satisfacer las expectativas.    

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos",class="img-fluid mb-4")
                    h2.mb-4 Destinos 
                    p  Si un vuelo te interesa, nosotros nos ocupamos. Creá gratís una alerta de precio y enterate primero si baja de precio. Viajar se trata de disfrutar, por eso no queremos hacerte perder tiempo.  

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios",class="img-fluid mb-4")
                    h2.mb-4 Precios 
                    p  Somos expertos en encontrar vuelos en oferta. Cuando creemos que pueden interesarte, te avisamos inmediatamente para que puedas aprovecharlas. Ah, ¿sabías que registrarse es gratís y no lleva más que un click?     